@media only screen and (max-width:600px) {
#container {
    display: grid;
    grid-template-areas:
    'hd'
    'nav'
    'mn'
    'ft';
    height: 100vh;
}

body {
    background: rgb(75,143,158);
    background: linear-gradient(180deg, rgba(75,143,158,1) 0%, rgba(147,189,106,1) 100%);
}

header {
    grid-area: hd;
    display: grid;
    text-align: center;
}

nav {
    grid-area: nav;
    display: grid;
}

main {
    grid-area: mn;
    display: grid;
}

footer {
    grid-area: ft;
    display: grid;
}
}